<table>
  <tr>
    <td><div id="tile1" class="tile"></div></td>
    <td><div id="tile2" class="tile"></div></td>
    <td><div id="tile3" class="tile"></div></td>
  </tr>
  <tr>
    <td><div id="tile4" class="tile"></div></td>
    <td><div id="tile5" class="tile"></div></td>
    <td><div id="tile6" class="tile"></div></td>
  </tr>
    <tr>
    <td><div id="tile7" class="tile"></div></td>
    <td><div id="tile8" class="tile"></div></td>
    <td><div id="tile9" class="tile"></div></td>
  </tr>
</table>