<h1>TEST</h1>

<li ng-repeat="player in players">
  {{ player.name }}
</li>

 <div id="game">
   <ul id="teams">
    <li>
      <img ng-src="images/ernie.jpg">
      <h2>Team <span class="team" ></span></h2>
      <h3 class="player"></h3>
    </li>
    <li>
      <img ng-src="images/bert.jpg">
      <h2>Team <span class="team"></span></h2>
      <h3 class="player"></h3>
    </li>
  </ul>

  <div id="results">
    <h1></h1>
    <span class="image"></span>
    <button>play again</button>
  </div>
</div>
