<h1>TEST</h1>
 <div id="game">
   <ul id="teams">
    <li>
      <img src="">
      <h2>Team <span class="team"></span></h2>
      <h3 class="player"></h3>
    </li>
    <li>
      <img src="">
      <h2>Team <span class="team"></span></h2>
      <h3 class="player"></h3>
    </li>
  </ul>
  <div id="board">
    <table>
  <tr>
    <td><div id="tile1" class="tile"></div></td>
    <td><div id="tile2" class="tile"></div></td>
    <td><div id="tile3" class="tile"></div></td>
  </tr>
  <tr>
    <td><div id="tile4" class="tile"></div></td>
    <td><div id="tile5" class="tile"></div></td>
    <td><div id="tile6" class="tile"></div></td>
  </tr>
    <tr>
    <td><div id="tile7" class="tile"></div></td>
    <td><div id="tile8" class="tile"></div></td>
    <td><div id="tile9" class="tile"></div></td>
  </tr>
</table>
  </div>
  <div id="results">
    <h1></h1>
    <span class="image"></span>
    <button>play again</button>
  </div>
</div>
